<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个性化视频推荐系统</title>
    <link rel="stylesheet" type="text/css" href="/static/js/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/js/bootstrapTable/bootstrap-table.min.css">
    <link rel="stylesheet" type="text/css" href="/static/js/AdminLTE/css/AdminLTE.min.css">
    <link rel="stylesheet" type="text/css" href="/static/js/AdminLTE/css/skins/_all-skins.min.css">
</head>
<body class="layout-top-nav">
<div>
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">个性化视频推荐系统</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
            </ul>
        </div>
    </nav>

    <div class="row" align="center" style="margin-left: 30px">
        <div class="panel panel-primary col-sm-2" style="margin: 15px;">
            <div class="panel-heading">
                <h3 class="panel-title">动作片</h3>
            </div>
            <div class="panel-body">
                <table>
                    <tr>
                        <td><a>Toy Story (1995)</a></td>
                    </tr>
                    <tr>
                        <td><a>Jumanji (1995)</a></td>
                    </tr>
                    <tr>
                        <td><a>Grumpier Old Men (1995)</a></td>
                    </tr>
                    <tr>
                        <td><a>Waiting to Exhale (1995)</a></td>
                    </tr>
                    <tr>
                        <td><a>Father of the Bride Part II (1995)</a></td>
                    </tr>
                    <tr>
                        <td><a>Heat (1995)</a></td>
                    </tr>
                    <tr>
                        <td><a>Sabrina (1995)</a></td>
                    </tr>
                    <tr>
                        <td><a>Tom and Huck (1995)</a></td>
                    </tr>
                    <tr>
                        <td><a>Sudden Death (1995)</a></td>
                    </tr>
                    <tr>
                        <td><a>GoldenEye (1995)</a></td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="panel panel-primary col-sm-2" style="margin: 15px">
            <div class="panel-heading">
                <h3 class="panel-title">动作片</h3>
            </div>
            <div class="panel-body">
                <table>
                    <tr>
                        <td><a>American President, The (1995)</a></td>
                    </tr>
                    <tr>
                        <td><a>Dracula: Dead and Loving It (1995)</a></td>
                    </tr>
                    <tr>
                        <td><a>Balto (1995)</a></td>
                    </tr>
                    <tr>
                        <td><a>Nixon (1995)</a></td>
                    </tr>
                    <tr>
                        <td><a>Cutthroat Island (1995)</a></td>
                    </tr>
                    <tr>
                        <td><a>Casino (1995)</a></td>
                    </tr>
                    <tr>
                        <td><a>Sense and Sensibility (1995)</a></td>
                    </tr>
                    <tr>
                        <td><a>Four Rooms (1995)</a></td>
                    </tr>
                    <tr>
                        <td><a>Ace Ventura: When Nature Calls (1995)</a></td>
                    </tr>
                    <tr>
                        <td><a>Money Train (1995)</a></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="panel panel-primary col-sm-2" style="margin: 15px">
            <div class="panel-heading">
                <h3 class="panel-title">恐怖片</h3>
            </div>
            <div class="panel-body">
                <table>
                    <tr>
                        <td><a>Get Shorty (1995)</a></td>
                    </tr>
                    <tr>
                        <td><a>Copycat (1995)</a></td>
                    </tr>
                    <tr>
                        <td><a>Assassins (1995)</a></td>
                    </tr>
                    <tr>
                        <td><a>Powder (1995)</a></td>
                    </tr>
                    <tr>
                        <td><a>Leaving Las Vegas (1995)</a></td>
                    </tr>
                    <tr>
                        <td><a>Othello (1995)</a></td>
                    </tr>
                    <tr>
                        <td><a>Now and Then (1995)</a></td>
                    </tr>
                    <tr>
                        <td><a>Persuasion (1995)</a></td>
                    </tr>
                    <tr>
                        <td><a>City of Lost Children, The (Cit茅 des enfants perdus, La) (1995)</a></td>
                    </tr>
                    <tr>
                        <td><a>Shanghai Triad (Yao a yao yao dao waipo qiao) (1995)</a></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="panel panel-primary col-sm-2" style="margin: 15px">
            <div class="panel-heading">
                <h3 class="panel-title">爱情片</h3>
            </div>
            <div class="panel-body">
                <table>
                    <tr>
                        <td><a>Dangerous Minds (1995)</a></td>
                    </tr>
                    <tr>
                        <td><a>Twelve Monkeys (a.k.a. 12 Monkeys) (1995)</a></td>
                    </tr>
                    <tr>
                        <td><a>Babe (1995)</a></td>
                    </tr>
                    <tr>
                        <td><a>Carrington (1995)</a></td>
                    </tr>
                    <tr>
                        <td><a>Dead Man Walking (1995)</a></td>
                    </tr>
                    <tr>
                        <td><a>Across the Sea of Time (1995)</a></td>
                    </tr>
                    <tr>
                        <td><a>It Takes Two (1995)</a></td>
                    </tr>
                    <tr>
                        <td><a>Clueless (1995)</a></td>
                    </tr>
                    <tr>
                        <td><a>Cry, the Beloved Country (1995)</a></td>
                    </tr>
                    <tr>
                        <td><a>Richard III (1995)</a></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="panel panel-primary col-sm-2" style="margin: 15px">
            <div class="panel-heading">
                <h3 class="panel-title">电影</h3>
            </div>
            <div class="panel-body">
                <table>
                    <tr>
                        <td><a>Dead Presidents (1995)</a></td>
                    </tr>
                    <tr>
                        <td><a>Restoration (1995)</a></td>
                    </tr>
                    <tr>
                        <td><a>Mortal Kombat (1995)</a></td>
                    </tr>
                    <tr>
                        <td><a>To Die For (1995)</a></td>
                    </tr>
                    <tr>
                        <td><a>How to Make an American Quilt (1995)</a></td>
                    </tr>
                    <tr>
                        <td><a>Seven (a.k.a. Se7en) (1995)</a></td>
                    </tr>
                    <tr>
                        <td><a>Pocahontas (1995)</a></td>
                    </tr>
                    <tr>
                        <td><a>When Night Is Falling (1995)</a></td>
                    </tr>
                    <tr>
                        <td><a>Usual Suspects, The (1995)</a></td>
                    </tr>
                    <tr>
                        <td><a>Mighty Aphrodite (1995)</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="/static/js/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrapTable/bootstrap-table.min.js"></script>
<script>


</script>
</body>
</html>