<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个性化视频推荐系统</title>
    <link rel="stylesheet" type="text/css" href="/static/js/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/js/bootstrapTable/bootstrap-table.min.css">
    <link rel="stylesheet" type="text/css" href="/static/js/AdminLTE/css/AdminLTE.min.css">
    <link rel="stylesheet" type="text/css" href="/static/js/AdminLTE/css/skins/_all-skins.min.css">
</head>
<body class="layout-top-nav">
<div>
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">个性化视频推荐系统</a>
            </div>
            <div>
                <ul class="nav navbar-nav" id="nav_ul">
                    <li class="active"><a id="recommend">推荐</a></li>
                    <li><a  id="comedy" movie_type="Comedy">喜剧片</a></li>
                    <li><a  id="horror" movie_type="Horror">恐怖片</a></li>
                    <li><a  id="action" movie_type="Action">动作片</a></li>
                    <li><a  id="thriller" movie_type="Thriller">科幻片</a></li>
                    <li><a  id="adventure" movie_type="Adventure">冒险片</a></li>
                    <li><a  id="mystery" movie_type="Mystery">推理剧</a></li>
                    <li><a  id="children" movie_type="Children">动画片</a></li>
                    <li><a  id="romance" movie_type="Romance">浪漫</a></li>
                    <li><a  id="war" movie_type="War">战争</a></li>
                </ul>
            </div>
            <div>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="名称、演员">
                     </div>
                    <button type="submit" class="btn btn-default">查找</button>
                </form>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
            </ul>
        </div>
    </nav>

    <div class="row" align="center" style="margin-left: 30px">
        <div class="panel panel-primary col-md-2" style="margin: 15px;">
            <div class="panel-heading">
                <h3 class="panel-title" >Recommend</h3>
                <div class="pull-right">
                    <button type="button" class="btn btn-warning btn-xs" id="recommend_button">推荐</button>
                </div>
            </div>
            <div class="panel-body">
                <table id="movie_list" class="table">
                        {% comment %}这里放置视频列表{% endcomment %}
                </table>
            </div>
        </div>
        <div class="col-md-8">
            <div id="" class="box box-primary box-solid">
                <div class="box-header with-border">
                    <h5 class="box-title">
                        <i class="fa fa-sliders"></i>Toy Story (1995)
                    </h5>
                </div>
                <div class="box-body">
                    <img src="static/img/d62a6059252dd42a1835151d023b5bb5c9eab843.jpg">
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="/static/js/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrapTable/bootstrap-table.min.js"></script>
<script>
    $(function(){
        $("#comedy,#horror,#action,#thriller,#adventure,#mystery,#children,#romance,#war").click(function(e){
            //点击非推荐时button的文本显示为更多
            $("#recommend_button").text("更多");
            //console.log($(e.target).attr('movie_type'));
            //设置所有的class为''(都不是激活状态)
            $("#nav_ul").find('li').each(function(){
                $(this).attr('class','');
            });
            //点击的分类设置为激活状态
            $(e.target).parents('li').attr('class','active');
            //表格的表头为点击的标题
            $(".panel-title").text($(e.target).attr('movie_type'));
            //请求数据
            $.ajax({
                url:"../user/list",
                data:{
                    'movie_type':$(e.target).attr('movie_type')
                },
                method:'post',
                success:function(msg){
                    var msg = JSON.parse(msg);
                    if(msg.code=='0000'){
                        $("#movie_list").html("");
                        msg.data=JSON.parse(msg.data);
                        for(var i=0;i<msg.data.length;i++){
                            var tr=$('<tr></tr>');
                            var td=$('<td></td>');
                            var a=$('<a></a>');
                            a.append(msg.data[i]['fields']['title']);
                            td.append(a);
                            tr.append(td);
                            $("#movie_list").append(tr);
                        }
                    }
                }
            });
        });

        $("#recommend").click(function(e){
            $("#recommend_button").text("推荐");
            $("#nav_ul").find('li').each(function(){
                $(this).attr('class','');
            });
            $(e.target).parents('li').attr('class','active');
            $(".panel-title").text("Recommend");

            $.ajax({
                url:"../user/type",
                method:'post',
                success:function(msg){
                    var msg = JSON.parse(msg);
                    if(msg.code=='0000'){
                        $("#movie_list").html("");
                        msg.data=JSON.parse(msg.data);
                        for(var i=0;i<msg.data.length;i++){
                            var tr=$('<tr></tr>');
                            var td=$('<td></td>');
                            var a=$('<a></a>');
                            a.append(msg.data[i]['fields']['title']);
                            td.append(a);
                            tr.append(td);
                            $("#movie_list").append(tr);
                        }
                    }
                }
            });
        });

        $.ajax({
            url:"../user/type",
            method:'post',
            success:function(msg){
                var msg = JSON.parse(msg);
                if(msg.code=='0000'){
                     $("#movie_list").html("");
                     msg.data=JSON.parse(msg.data);
                     for(var i=0;i<msg.data.length;i++){
                         var tr=$('<tr></tr>');
                         var td=$('<td></td>');
                         var a=$('<a></a>');
                         a.append(msg.data[i]['fields']['title']);
                         td.append(a);
                         tr.append(td);
                         $("#movie_list").append(tr);
                     }
                }
            }
        });
    });

</script>
</body>
</html>